.debug/
.env
.git/
.gemini/
.claude/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
*.bak
*.build/
*.dist/
*.env
*.log
*.onefile-build/
*.py[cod]
*.tmp
build/
dist/
node_modules/
site/
